# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Dependencies
backend/vendor
backend/node_modules
frontend/node_modules
mobile/.dart_tool
mobile/build

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs

# Cache
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*

# Testing
backend/storage/framework/testing/*

# Documentation
*.md
!README.md

# OS
.DS_Store
Thumbs.db
